RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]


<IfModule mod_expires.c>
    # Turn on Expires and set default to 0
    ExpiresActive On
    ExpiresDefault A0

    # Set up caching on media files for 1 week
    <FilesMatch ".(gif|jpg|jpeg|png)$">
      ExpiresDefault A604800
      Header append Cache-Control "public"
    </FilesMatch>

    # Set up 1 week caching on javascript and CSS
    <FilesMatch ".(js|css)$">
      ExpiresDefault A604800
      Header append Cache-Control "proxy-revalidate"
      SetOutputFilter DEFLATE
    </FilesMatch>

    # Force no caching for dynamic files
    <FilesMatch ".(php|tpl)$">
      ExpiresActive Off
      Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
      Header set Pragma "no-cache"
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
    <IfModule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html

        BrowserMatch ^Mozilla/4\.0[678] no-gzip

        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

        SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
    </IfModule>

    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
</IfModule>






